<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://www.linkedin.com/in/bonjias">Jonathan Bias</a> &amp;. He was coached by <a target="_blank" href="http://github.com/MarcoMorawec">Marco</a> &amp; <a target="_blank" href="http://github.com/KenMazaika">Ken</a>. Two web developers who are on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality. With the supreme leadership provided, Jonathan is on the path to do great things. 
  </p>
  <br />
  <p>
    With innovations in buisness models centered around technology, Jonathan is preparing to bring his own ideas to the table and manifest them accordingly. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

 <div class="col-xs-12 col-sm-4">
    <%= image_tag 'me.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Jonathan Bias</h2>
    <br />
    <p>
      Jonathan is a student at Long Island University CW Post, completing his M.B.A. His roots of expertise are in custom fabrication and manufacturing. Working for 10 years at <a target="_blank" href="http://ssar.com">Sign-A-Rama</a>, he worked his way up the ladder being fabrication manager and then manager of the service sales department. Competitors entering the market that used web applications for dispatching and cooridination, gave Jonathan the idea to write his own app to stay competive. After much research, TheFirehoseproject was the best fit, and now he is on his way. 

  </div>










</div>


<br class="clear" />
<br />
<br />
<br />
<br />